<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Expense Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-segment color="dark" [(ngModel)]="sign">
    <ion-segment-button value="se">
      <ion-icon name="eye"></ion-icon>
      <ion-label>See Detail</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ad">
      <ion-icon name="add"></ion-icon>
      <ion-label>Add Detail</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div color="dark" class="main" [ngSwitch]="sign">
    <ion-list class="f" *ngSwitchCase="'se'">
      <ion-searchbar></ion-searchbar>
      <ion-row *ngFor="let a of data"
               style=" margin: 5%;border-radius: 20px; box-shadow:0px 6px 20px 0px black;">
        <ion-item lines="none">
          <ion-row>
            <ion-label>
              <b>Date</b>
            </ion-label>
            <ion-label text-right>
              {{a.date}}
            </ion-label>
          </ion-row>
        </ion-item>
        <ion-item lines="none">
          <ion-row>
            <ion-label>
              <b>Description</b>
            </ion-label>
            <ion-label text-right>
              {{a.discription}}
            </ion-label>
          </ion-row>
        </ion-item>
        <ion-item lines="none">
          <ion-row>
            <ion-label>
              <b>Amount</b>
            </ion-label>
            <ion-label text-right>
              {{a.amount}}
            </ion-label>
          </ion-row>
        </ion-item>
      </ion-row>
    </ion-list>
    <ion-list class="f" *ngSwitchCase="'ad'">
      <form #form="ngForm" (ngSubmit)="addex()">
        <ion-item lines="none">
          <!-- <ion-label color="dark" position="floating">Description</ion-label> -->
          <ion-input placeholder="Description" name="description" type="text" [(ngModel)]="ex.discription"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <!-- <ion-label color="dark" position="floating">Amount</ion-label> -->
          <ion-input placeholder="Amount" name="amount" type="number" [(ngModel)]="ex.amount"></ion-input>
        </ion-item>
        <ion-button expand="block" color="dark" type="submit" [disabled]="form.invalid">Add</ion-button>
      </form>

    </ion-list>
  </div>

</ion-content>
