ion-card{
  border: 1px solid black;
  height: 220px;
  border-radius: 10px;
  background-color: red; 
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  color: white;
  
  ion-row{
    width: 100%;
    justify-content: center;
    color: white;
}
}


.back{
    height: 34px;
      width: 31px;
  }
