
<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Order</ion-title>
    <ion-icon slot="end" routerLink="/cart" name="cart"></ion-icon>
    <ion-badge class="badge" *ngIf="this.badgeValue > 0">{{this.badgeValue}} </ion-badge>
  </ion-toolbar>
</ion-header>
<ion-content color="medium">
  <ion-searchbar (ionInput)="filterorder($event)"></ion-searchbar>
  <ion-grid color="dark">
    <ion-row>
      <ion-col color="dark" *ngFor="let a of data" (click)="sheet(a.mc_id,a.image)">
        <img src={{a.image}}>
        <br>
        {{a.mc_name}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
