ion-icon{
  zoom: 1.5;
  margin-right: 10px;
}
ion-row{
    justify-content: center;
    ion-col {
      background-color: var(--ion-color-red);
      box-shadow: 0px 2px 8px -1px #050505;
      text-align: center;
      min-width: 9rem;
      max-width: 10rem;
      min-height: 10rem;
      margin: 3px;
      border-radius: 10px;
      img{
        max-width: 138px;
       height: 147px;
        border-radius: 5px;
      }
    }
  }
  .badge{
    float: right;
    margin-right: -35px;
    margin-top: -23px;
}